<div class="inner">
  <h1>Channels</h1>
  <% @tweet_sources.each do |ts| %>
    <% url = url_for(controller: 'tweet_sources', action: 'show', id: ts.id) %>
    <div class="channel-container" onclick="location.href=<%= "'#{url[1..-1]}';\"".html_safe%>>
      <%= image_tag "fetty.jpg", class: "channel-image-left" %>
      <%= image_tag "trump.jpg", class: "channel-image-right" %>
      <a class="channel-mashup-name"><%="@#{ts.name}"%></a>
      <p class="channel-mashup-bio"><%="#{ts.bio}"%></p>
      <a class="channel-chevron fa fa-chevron-right"></a>
    </div>
  <% end %>
</div>

